main-header{
    header.main-header{
        float: left;
        width: 90px;
        position: absolute;
        left: 20px;
        top: 34%;
        height: auto;
        padding: 20px;
        background: rgba(black, 0.16);
        z-index: $mostly-on-top;
    }
}
