main-header{
    header.main-header{
        float: left;
        width: auto;
        position: absolute;
        right: 120px;
        top: 23%;
        width: 80px;
        padding: 20px;
        background: none;
        z-index: $mostly-on-top;
    }
}
