$primary-color: #357c73;
$secondary-color: #e56565;
$dark-blue-color: #1f1c20;
$main-whitish-color: #fff;

$big-screen: 1600px;
$medium-screen: 1440px;
$small-screen: 1024px;
$small-phone-screen: 640px;
$extra-small-phone-screen: 360px;
