ProjectPreview {
  background: $dark-blue-color;
  bottom: 0;
  cursor: auto;
  display: grid;
  grid-template: repeat(3, 33.333vh) / 20vw 80vw;
  grid-template-areas:
  'project-title preview'
  'project-tech preview'
  'project-more preview';
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  .project-title {
    @include content-box;
    background: darken($dark-blue-color, 2%);
    font-size: 48px;
    font-weight: 300;
    grid-area: project-title;
    padding: 80px;
    text-align: left;
  }

  .project-tech {
    @include content-box;
    background: darken($dark-blue-color, 3%);
    flex-direction: column;
    grid-area: project-tech;

    .technology {
      @include content-box;
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 20px;
      padding: 0;
      width: 100%;

      .technology-name {
        color: $main-whitish-color;
        font-size: 14px;
        margin-bottom: 7px;
      }

      .technology-bar {
        background: lighten($dark-blue-color, 3%);
        height: 5px;
        position: relative;
        width: 100%;

        .percent {
          background: $secondary-color;
          height: 100%;
          left: 0;
          position: absolute;

          @for $i from 10 through 100 {
            &.p-#{$i} {
              width: #{percentage($i/100)};
            }
          }
        }
      }
    }
  }

  .project-more {
    @include content-box;
    background: darken($dark-blue-color, 4%);
    font-size: 48px;
    grid-area: project-more;
  }

  .preview {
    @include content-box;
    grid-area: preview;
    overflow: hidden;
    padding: 0;
    position: relative;

    .arrow {
      background: $secondary-color;
      color: $main-whitish-color;
      cursor: pointer;
      padding: 10px;
      position: absolute;
      text-transform: uppercase;
      z-index: 20000000000000000000000000000;

      &:hover {
        box-shadow: 0 19px 38px rgba(0, 0, 0, .20), 0 15px 12px rgba(0, 0, 0, .12);
      }

      &:nth-child(odd) {
        margin-right: auto;
      }

      &.arrow-next{
        right: 20px;

        &:after {
          content: 'Next';
        }
      }

      &.arrow-prev{
        left: 20px;

        &:after {
          content: 'Prev';
        }
      }
    }

    .image-overflow {
      box-shadow: 0 19px 38px rgba(0, 0, 0, .30), 0 15px 12px rgba(0, 0, 0, .22);
      user-select: none;

      >.image {
        pointer-events: none;
      }
  }
  }

  .close-button {
    @include content-box;
    background: $primary-color;
    cursor: pointer;
    font-size: 20px;
    height: 60px;
    left: 20px;
    position: fixed;
    top: 20px;
    width: 60px;

    &:hover {
      opacity: .6;
    }

    &::after {
      content: '\2716';
    }
  }
}

@media screen and (max-width: $small-screen) {
  ProjectPreview {
    grid-template: 230px calc(100vh - 230px) / repeat(4, 25%);
    grid-template-areas:
    'project-title project-title project-tech project-more'
    'preview preview preview preview';

    .close-button {
      font-size: 14px;
      height: 40px;
      left: 0;
      top: 0;
      width: 40px;
    }
  }
}
