<div class="img-background"><img src="img/{{project.img}}.png"></div>
<div class="project-overflow">
    <h1 class="name">{{project.name}}</h1>
    <h4 class="date">{{project.date}}</h4>
    <div class="details">
        <div class="technologies">
            <span class="tech" *ngFor = "let tech of project.technologies">
                {{tech.name}}
            </span>
        </div>
        <div class="sources">
            <a href="{{project.github}}" class="link">Source code</a>
            <a href="{{project.demo}}" class="preview">Preview</a>
        </div>
    </div>
</div>
